@use 'variables' as v;
.btn {
  display: inline-block;
  padding: 0.8rem 1.1rem;
  border-radius: v.$radius;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    transform: translateY(-1px);
  }
  &--danger {
    background-color: var(--danger);
  }
  &--success {
    background-color: var(--success);
  }
}
