@use "variables" as v;
@use "components" as *;
#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  i {
    font-size: 30px;
    &.moon {
      display: none;
      color: #fff;
    }
    &.sun {
      color: #d8d808;
    }
  }
}
.light-mode {
  #theme-switch i {
    &.sun {
      display: none;
    }
    &.moon {
      display: block;
    }
  }
}
.cruds {
  width: 100%;
  max-width: v.$max-width;
  margin: 0 auto;
  padding: 0 v.$gutter;
  .head {
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
    h2 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.5rem;
      text-transform: capitalize;
    }
  }
  input {
    padding: 1rem;
    background-color: var(--input-color);
    width: 100%;
    margin: 5px 0;
    color: var(--text-color);
    border: none;
    border-radius: v.$radius;
    &:focus {
      outline: none;
    }
  }
  .inputs {
    .price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      @media (max-width: 767px) {
        flex-direction: column;
      }
      input {
        width: 20%;
        @media (max-width: 767px) {
          width: 100%;
        }
      }
      .total {
        padding: 10px 5px;
        border-radius: 6px;
        border: none;
        background-color: var(--danger);
        color: #fff;
        font-weight: bold;
        font-size: 1rem;
        &::before {
          content: "Total: ";
        }
        @media (max-width: 767px) {
          margin-bottom: 10px;
          width: 50%;
          text-align: center;
        }
      }
    }
    button {
      margin-top: 20px;
      background-color: var(--primary);
      width: 100%;
      @extend .btn;
      &:hover {
        background-color: var(--primary-alt);
      }
    }
  }
  .outputs {
    margin: 50px 0;
    .search-btns {
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 20px;
      @media (max-width: 767px) {
        flex-direction: column;
      }
      button {
        flex: 1;
        @extend .btn;
        background-color: var(--primary);
        &:hover {
          background-color: var(--primary-alt);
        }
        @media (max-width: 767px) {
          width: 75%;
        }
      }
    }
    .delete-all {
      margin: 30px 0;
      button {
        width: 100%;
      }
    }
    .responsive-table {
      overflow-x: auto;
    }
    table {
      text-align: center;
      width: 100%;
      margin: 2rem 0;

      th,
      td {
        padding: 0.6rem;
        text-transform: capitalize;
      }
      button {
        @extend .btn;
      }
    }
  }
}
