$primary: #007bff;
$primary-alt: #6f42c1;
$danger: #dc3545;
$input-dark: #111;
$success: #28a745;
$bg-dark: #333;
$text-dark: #fff;
$input-light: #bbb;
$bg-light: #f9f9f9;
$text-light: #000;
$max-width: 1200px;
$gutter: 1rem;
$radius: 10px;

// CSS variables
:root {
  --primary: #{$primary};
  --primary-alt: #{$primary-alt};
  --danger: #{$danger};
  --success: #{$success};
  --bg-color: #{$bg-dark};
  --text-color: #{$text-dark};
  --input-color: #{$input-dark};
}
.light-mode {
  --primary: #{$primary};
  --primary-alt: #{$primary-alt};
  --danger: #{$danger};
  --success: #{$success};
  --bg-color: #{$bg-light};
  --text-color: #{$text-light};
  --input-color: #{$input-light};
}
